@import '../../../scss/media-queries';

.icon-button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  height: 1em;
  width: 1em;
  line-height: 1;

  &--disabled {
    opacity: 0.5;
  }

  &--small {
    font-size: 0.8125rem;
  }

  &--medium {
    font-size: var(--size-20);
  }

  &--large {
    font-size: var(--size-57);
  }

  &--x-large {
    font-size: var(--size-48);

    @include respond(big-desktop) {
      font-size: var(--size-64);
    }
  }

  &--inherit {
    font-size: inherit;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
