@import '../../scss/media-queries';

.about {
  position: relative;

  &__content {
    &.content-section {
      height: auto;
      background-color: var(--brand-yellow);
      padding: var(--size-64);

      &::after,
      &::before {
        content: '';
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        display: inline-block;
        background-size: cover;
        background: url('../../assets/menu-bg.png') center center no-repeat;
      }

      &::before {
        transform: rotate(180deg);
        top: calc(-1 * var(--size-128));
      }

      &::after {
        transform: none;
        bottom: calc(-1 * var(--size-128));
      }
    }

    p {
      z-index: 1;
      width: 90%;
      margin: 0 auto;
      position: relative;
      text-align: center;
      line-height: var(--size-24);
      font-size: var(--font-size-14);

      @include respond(tab-land) {
        font-size: var(--font-size-18);
        line-height: var(--size-32);
      }
    }
  }

  &__contact-link {
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(-1 * var(--size-32));

    @include respond(tab-land) {
      bottom: calc(-1 * var(--size-64));
    }

    @include respond(desktop) {
      bottom: calc(-1 * var(--size-80));
    }
  }

  &__gallery {
    padding: var(--size-128) 0;
  }

  .footer {
    top: 0;
    height: 100vh;
  }
}
