@import '../../scss/media-queries';

.home {
  position: relative;

  &__content {
    color: var(--white);
    text-align: center;
    margin-top: var(--size-32);

    @include respond(tab-land) {
      margin-top: var(--size-64);
    }

    h2 {
      line-height: var(--size-48);
      font-size: var(--font-size-32);

      @include respond(tab-land) {
        line-height: var(--size-72);
        font-size: var(--font-size-60);
      }
    }

    h5 {
      max-width: 80%;
      margin: 0 auto;
      padding: var(--size-12) var(--size-32) var(--size-32);
      line-height: var(--size-24);
      font-size: var(--font-size-14);

      @include respond(tab-land) {
        line-height: var(--size-32);
        font-size: var(--font-size-18);
        padding-bottom: var(--size-72);
      }
    }
  }

  &__services {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;

    @include respond(big-desktop) {
      margin-bottom: var(--size-96);
    }
  }

  &__img {
    top: 80dvh;
    width: 100%;
    position: absolute;

    @include respond(phone-landscape) {
      top: 110dvh;
    }

    @include respond(tab-land) {
      top: 68dvh;
    }
  }

  &__link {
    position: absolute;
    left: 50%;
    top: var(--size-150);
    transform: translateX(-50%);

    @include respond(phone-landscape) {
      top: var(--size-72);
    }

    @include respond(big-desktop) {
      top: var(--size-212);
    }
  }

  &__play {
    z-index: 0;
    height: 100vh;
    top: calc(-1 * var(--size-128));

    @include respond(big-desktop) {
      top: calc(-1 * var(--size-282));
    }
  }

  .footer {
    top: calc(-1 * var(--size-224));

    
    @include respond(big-desktop) {
      top: calc(-1 * var(--size-384));
    }
  }
  
  .navigation-template__contact {
    margin-top: calc(-1 * var(--size-224));

    @include respond(big-desktop) {
      margin-top: calc(-1 * var(--size-384));
    }
  }

  .content-section {
    @include respond(phone-landscape) {
      min-height: var(--size-512);
    }
  }
}
