@import '../../../scss/media-queries';

.icon-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 var(--size-8);

  &__img {
    max-width: var(--size-64);
    margin-bottom: var(--size-24);

    @include respond(tab-land) {
      max-width: var(--size-135);
      margin-bottom: var(--size-40);
    }
  }

  p {
    text-transform: uppercase;
    line-height: var(--size-18);
    font-size: var(--font-size-12);

    @include respond(tab-land) {
      line-height: var(--size-32);
      font-size: var(--font-size-24);
    }

    &:nth-child(2) {
      color: var(--brand-yellow);
      margin-bottom: var(--size-32);
    }
  }
}
