@import '../../scss/media-queries';

.navigation-template {
  &__license {
    font-weight: bold;
    text-align: center;
    color: var(--white);
    margin-bottom: var(--size-24);
    font-size: var(--font-size-18);
  
    @include respond(tab-land) {
      font-size: var(--font-size-24);
    }
  }

  &__contact {
    z-index: 2;
    position: relative;
    text-align: center;
    color: var(--white);
    line-height: var(--size-48);
    font-size: var(--font-size-20);
    padding: var(--size-24);
    margin-bottom: var(--size-82);
    margin-top: calc(-1 * var(--size-45));

    @include respond(tab-land) {
      font-size: var(--size-28);
    }

    @include respond(big-desktop) {
      font-size: var(--size-32);
    }
  }

  &__email {
    font-weight: bold;
    color: var(--brand-yellow);
    font-size: var(--size-18);

    @include respond(tab-land) {
      font-size: var(--font-size-32);
    }

    @include respond(big-desktop) {
      font-size: var(--font-size-48);
    }
  }
}
