@import '../../scss/media-queries';

.navigation-template {
  &__license {
    font-weight: bold;
    text-align: center;
    color: var(--white);
    margin-bottom: var(--size-24);
    font-size: var(--font-size-18);
  
    @include respond(tab-land) {
      font-size: var(--font-size-24);
    }
  }

  &__contact {
    left: 50%;
    width: 94%;
    position: absolute;
    text-align: center;
    bottom: var(--size-124);
    transform: translateX(-50%);
    color: var(--white);
    line-height: var(--size-48);
    font-size: var(--font-size-20);

    @include respond(tab-land) {
      font-size: var(--size-28);
    }

    @include respond(big-desktop) {
      bottom: var(--size-256);
      font-size: var(--size-32);
    }
  }

  &__email {
    font-weight: bold;
    color: var(--brand-yellow);
    font-size: var(--size-24);

    @include respond(tab-land) {
      font-size: var(--font-size-32);
    }

    @include respond(big-desktop) {
      font-size: var(--font-size-48);
    }
  }
}
