@import '../../scss/media-queries';

.header {
  width: 100%;
  position: relative;
  background: url('../../assets/header-bg3.jpg') center center no-repeat;
  background-size: cover;
  height: 100vh;

  @include respond(phone-landscape) {
    min-height: var(--size-512);
  }

  &__nav {
    height: 0;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--size-32) var(--size-12) var(--size-12);
    transition: height 0.5s ease-out;
    background: url('../../assets/menu-bg.png') center 250% no-repeat;
    background-size: cover;

    @include respond(tab-land) {
      padding: var(--size-48) var(--size-24) var(--size-24);
    }

    @include respond(big-desktop) {
      padding-top: var(--size-64);
    }

    .navigation {
      opacity: 0;
      pointer-events: none;
    }

    svg {
      line {
        transition: stroke 0.5s ease-in;
      }

      rect,
      path {
        transition: fill 0.5s ease-in;
      }
    }

    &--open {
      z-index: 3;
      height: 100vh;
      position: relative;
      transition: height 0.5s ease-in;

      @include respond(phone-landscape) {
        height: var(--size-812);
      }

      @include respond(tab-land) {
        height: 30%;
      }

      svg {
        line {
          stroke: var(--brand-main);
        }

        rect,
        path {
          fill: var(--brand-main);
        }
      }

      .navigation {
        opacity: 1;
        pointer-events: all;
        transition: opacity 1s ease-in;
      }

      .header {
        &__right {
          opacity: 0;
          transition: opacity 0.25s ease-out;

          @include respond(tab-land) {
            opacity: 1;
          }
        }

        &__logo-wrapper {
          top: 50vh;
          z-index: 6;
          transition: top 0.5s ease-in;

          @include respond(phone-landscape) {
            top: 384px;
          }

          @include respond(tab-land) {
            top: 120px;
          }
        }

        &__title {
          opacity: 0;

          @include respond(tab-land) {
            opacity: 1;
          }
        }
      }
    }
  }

  &__left,
  &__right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    z-index: 5;
  }

  &__left {
    flex: 1;
  }

  &__logo-wrapper {
    left: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 80px;
    transition: top 0.5s ease-in;

    img {
      width: var(--size-180);

      @include respond(tab-land) {
        width: var(--size-282);
      }

      @include respond(big-desktop) {
        width: var(--size-320);
      }
    }
  }

  &__logo {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  &__title {
    width: 100%;
    opacity: 1;
    text-align: center;
    color: var(--white);
    transition: top 0.5s ease-in;

    h1 {
      line-height: var(--size-32);
      font-size: var(--font-size-24);
      margin-top: var(--size-64);
      margin-bottom: var(--size-12);

      @include respond(tab-land) {
        line-height: var(--size-64);
        font-size: var(--font-size-48);
        margin-top: var(--size-48);
      }

      @include respond(big-desktop) {
        line-height: var(--size-72);
        font-size: var(--font-size-72);
        margin-bottom: var(--size-32);
      }
    }

    p {
      line-height: var(--size-24);
      font-size: var(--font-size-18);

      @include respond(tab-land) {
        line-height: var(--size-32);
        font-size: var(--font-size-24);
      }

      @include respond(big-desktop) {
        line-height: var(--size-48);
        font-size: var(--font-size-32);
      }
    }
  }
}
