@font-face {
    font-family: 'Unbounded-VariableFont';
    src: url(../fonts/Unbounded-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'WixMadeforDisplay-Bold';
    src: url(../fonts/WixMadeforDisplay-Bold.ttf);
}
